body {
  background-color: #1B262C;
  color: #C1F8CF;
}
a{
  color: #488FB1;
}
h1{
  color:#3282B8;
}
h3{
  color: #BBE1FA;
}
hr {
  border-color: #3282B8;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 10%;

}
